<div class="container">
  <div class="" *ngIf="!openaddform">
    <div class="table-header">
      <div>
        <img src="../../../assets/products1.png" alt="" />
        <span> products </span>
      </div>
      <div class="search-bar">
        <mat-icon
          aria-hidden="false"
          aria-label="Example search icon"
          fontIcon="search"
        ></mat-icon>
        <input type="search" />
      </div>
      <div>
        <button (click)="addnew()">Add New</button>
      </div>
    </div>

    <table class="table" >
      <thead>
        <tr>
          <td>id</td>
          <td>Name</td>
          <td>Pack Size</td>
          <td>Category</td>
          <td>MRP</td>
          <td>Image</td>
          <td>Status</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>123</td>
          <td>Vikrant Bhadu</td>
          <td>Vikrant Bhadu</td>
          <td>Vikrant Bhadu</td>
          <td>Vikrant Bhadu</td>
          <td>Lorem Ipsum is simply dummy text</td>
          <td>Active</td>
          <td class="table-action-btn">
            <button>
              <mat-icon
                aria-hidden="false"
                aria-label="Example edit icon"
                fontIcon="edit"
              ></mat-icon>
            </button>
            <button (click)="deleteDialog()">
              <mat-icon
                aria-hidden="false"
                aria-label="Example delete icon"
                fontIcon="delete"
              ></mat-icon>
            </button>
          </td>
        </tr>

        <!-- <tr>
          <td>123</td>
          <td>Vikrant Bhadu</td>
          <td>Vikrant Bhadu</td>
          <td>Vikrant Bhadu</td>
          <td>Vikrant Bhadu</td>
          <td>Lorem Ipsum is simply dummy text</td>
          <td>Active</td>
          <td class="table-action-btn">
            <button>
              <mat-icon
                aria-hidden="false"
                aria-label="Example edit icon"
                fontIcon="edit"
              ></mat-icon>
            </button>
            <button>
              <mat-icon
                aria-hidden="false"
                aria-label="Example delete icon"
                fontIcon="delete"
              ></mat-icon>
            </button>
          </td>
        </tr>

        <tr>
          <td>123</td>
          <td>Vikrant Bhadu</td>
          <td>Vikrant Bhadu</td>
          <td>Vikrant Bhadu</td>
          <td>Vikrant Bhadu</td>
          <td>Lorem Ipsum is simply dummy text</td>
          <td>Active</td>
          <td class="table-action-btn">
            <button>
              <mat-icon
                aria-hidden="false"
                aria-label="Example edit icon"
                fontIcon="edit"
              ></mat-icon>
            </button>
            <button>
              <mat-icon
                aria-hidden="false"
                aria-label="Example delete icon"
                fontIcon="delete"
              ></mat-icon>
            </button>
          </td>
        </tr>

        <tr>
          <td>123</td>
          <td>Vikrant Bhadu</td>
          <td>Vikrant Bhadu</td>
          <td>Vikrant Bhadu</td>
          <td>Vikrant Bhadu</td>
          <td>Lorem Ipsum is simply dummy text</td>
          <td>Active</td>
          <td class="table-action-btn">
            <button>
              <mat-icon
                aria-hidden="false"
                aria-label="Example edit icon"
                fontIcon="edit"
              ></mat-icon>
            </button>
            <button>
              <mat-icon
                aria-hidden="false"
                aria-label="Example delete icon"
                fontIcon="delete"
              ></mat-icon>
            </button>
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>

  <div *ngIf="openaddform">
    <div class="form-header">
      <svg
        width="12"
        height="12"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        (click)="close()"
      >
        <path
          d="M16 7H3.83L9.42 1.41L8 0L0 8L8 16L9.41 14.59L3.83 9H16V7Z"
          fill="#807964"
        />
      </svg>
      <span>Add category</span>
    </div>

    <div class="category-form" *ngIf="openaddform">
      <form>
        <div>
          <fieldset>
            <legend>Category</legend>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
              <mat-select>
                <mat-option
                  *ngFor="let category of categories"
                  [value]="category.name"
                  >{{ category.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </fieldset>
          <fieldset>
            <legend>Product Name</legend>
            <input type="text" formControlName="productName" />
          </fieldset>

          <fieldset>
            <legend>Pack Size</legend>
            <input type="text" formControlName="packSize" />
          </fieldset>
        </div>
        <div>
          <fieldset>
            <legend>MRP</legend>
            <input type="number" formControlName="mrp" />
          </fieldset>

          <fieldset>
            <legend>Product image</legend>
            <div id="uploadcontainer">
              <input type="file" name="" id="" />
              <!-- <img
                class="uploadicon"
                src="../../../assets/fileupload.png"
                alt=""
              /> -->
            </div>
          </fieldset>

          <fieldset>
            <legend>Status</legend>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
              <mat-select>
                <mat-option *ngFor="let element of status" [value]="element.value">{{element.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </fieldset>
        </div>

        <div class="form-btn">
          <button>Cancel</button>
          <button>Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <div class="container" *ngIf="!openaddform">
    <div class="first_row">
      <div class="category">
        <img src="../../../assets/products1.png" alt="" />
        <span> products </span>
      </div>
      <div class="searchfield_container">
        <mat-form-field class="search_field" appearance="outline">
          <mat-icon matSuffix>search</mat-icon>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="search scp"
          />
        </mat-form-field>
      </div>
      <span (click)="addnew()"><button>Add New</button></span>
    </div>
  </div>
  <div class="addnew_container" *ngIf="openaddform">
    <div>
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"  (click)="close()">
          <path d="M16 7H3.83L9.42 1.41L8 0L0 8L8 16L9.41 14.59L3.83 9H16V7Z" fill="#807964"/>
          </svg>
          
      <span>Add Products</span>
  </div>
  <div>
      <form >
        <div>
            <fieldset>
                <legend>Email Id</legend>
                <input type="text" name="" id="" />
              </fieldset>
        
              <fieldset>
                <legend>Password</legend>
                <input type="text" name="" id="" />
              </fieldset>
    
              <fieldset>
                <legend>Dropdown Input</legend>
                
                <mat-form-field appearance="outline">
                
                  <mat-select>
                    <mat-option value="option1">Active</mat-option>
                    <mat-option value="option2">InActive</mat-option>
                  </mat-select>
                </mat-form-field>
              </fieldset>
        </div>
        <div>
            <fieldset>
                <legend>Email Id</legend>
                <input type="text" name="" id="" />
              </fieldset>
        
              <fieldset>
                <legend>Password</legend>
                <input type="text" name="" id="" />
              </fieldset>
    
              <fieldset>
                <legend>Dropdown Input</legend>
                
                <mat-form-field appearance="outline">
                
                  <mat-select>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
              </fieldset>
        </div>
          
      </form>
  </div>
  </div>
   -->
