mat-toolbar {
  height: 5%;
}
mat-drawer-content {
  padding: 10px;
}
.selected {
  background-color:#F4EDAF; /* Set your desired background color for the selected item */
}

mat-toolbar-row {
  width: 100%;
  height: 4rem;
  /* background-color: var(--element-color); */
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  /* border-bottom: 1px solid var(--border-color); */
}
mat-sidenav-container {
  /* height: 100vh; */
  width: 100%;
  display: flex;
  background-color: transparent;
}

.arrow > :nth-child(1),
.menu {
  margin-left: 3px;
}

mat-sidenav {
  display: flex;
  width: 3.5rem;
  /* height: 100%; */
  justify-content: space-between;
  align-items: center;
  background-color: white;
  transition: all 0.5s ease;
}
mat-drawer{
    width: 17rem;
    /* padding: 15px; */
    background-color: #F4F4F4;
}

.example-container {
    width: 100%;
    height: 91.2%;
    border: 1px solid #555;
  }

  mat-toolbar-row > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
  }

  mat-toolbar-row > div > svg {
    border: 1px solid white;
    padding: 4px;
    border-radius: 4px;
  }

  mat-toolbar-row > div > :nth-child(1){
    font-weight: bold;
    font-size: 34px;
    color: white;
  }

  mat-toolbar-row > div > :nth-child(2){
    font-size: 34px;
    color: white;
  }

  mat-toolbar-row > svg {
    cursor: pointer;
  }

  mat-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: white; */
    margin-top: 10px;
    padding: 6px 16px;
    cursor: pointer;
  }

  mat-nav-list > div {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
  }
  
  mat-nav-list > div > img {
    width: 20px;
  }